services:
  db:
    image: postgres:alpine
    restart: always
    environment:
      - POSTGRES_USER=aynard
      - POSTGRES_PASSWORD=postgres123
      - POSTGRES_DB=ims_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: